html,
body,
main{
    min-height: 100%;
}

body {
    margin-bottom: 200px;
}

html {
    position: relative;
}

#footer {
    position: absolute;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
}